APP_URL=${APP_URL}

DB_HOST=${DB_HOST}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}
DB_PORT=${DB_PORT}
DB_NAME=${DB_NAME}
DB_SSL_MODE=${DB_SSL_MODE}

SMTP_HOST=${SMTP_HOST}
SMTP_PORT=${SMTP_PORT}
SMTP_USERNAME=${SMTP_USERNAME}
SMTP_PASSWORD=${SMTP_PASSWORD}

RABBITMQ_HOST=${RABBITMQ_HOST}
RABBITMQ_PORT=${RABBITMQ_PORT}
RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
RABBITMQ_VHOST=${RABBITMQ_VHOST}
RABBITMQ_QUEUE_NAME=${RABBITMQ_QUEUE_NAME}
RABBITMQ_EXCHANGE_NAME=${RABBITMQ_EXCHANGE_NAME}
RABBITMQ_EXCHANGE_KEY=${RABBITMQ_EXCHANGE_KEY}
RABBITMQ_EXCHANGE_KIND=${RABBITMQ_EXCHANGE_KIND}

TOKEN_SECRET=${TOKEN_SECRET}
